* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  letter-spacing: .15em;
}

html,body{
  height: 100%;
}

body {
  background: linear-gradient(315deg, transparent 75%, #197c78 0)-10px 0,
    linear-gradient(45deg, transparent 75%, #197c78 0)-10px 0,
    linear-gradient(135deg, #006968 50%, transparent 0) 0 0,
    linear-gradient(45deg, #0a5350 50%, #084442 0) 0 0 #084442;

  /*background: linear-gradient(315deg, transparent 75%, #d45d55 0)-10px 0,
  linear-gradient(45deg, transparent 75%, #d45d55 0)-10px 0,
  linear-gradient(135deg, #a7332b 50%, transparent 0) 0 0,
  linear-gradient(45deg, #6a201b 50%, #561a16 0) 0 0 #561a16;
  */
  background-size: 20px 20px;
}

nav a{
  position: absolute;
  display: inline-block;
  width: 65px;
  z-index: 3;
  left: 20px;
  top: 20px;

  background-color: rgba(255, 255, 255, 0.6);

  font-size: 5em;
  line-height: 70px;
  text-align: center;
}

nav a:link{
  color: white;
}

nav a:visited{
  color: blue;
}

nav a:hover{
  color: #e4e948;
}

.cloud-room{
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100%;

  outline: 2px solid red;
}
.cloud-pool{
  display: block;
  width: 500px;
  height: 300px;
  margin: auto;

  outline: 10px double #ffffff;
  outline-offset: 5px;

  background-image: url(../images/cloud-tile-00-anim.gif);
  background-size: 200px;

  -moz-box-shadow:    inset 0 0 3px #000009;
  -webkit-box-shadow: inset 0 0 3px #000009;
  box-shadow:         inset -1px -1px 10px 2px #000009;

}
