* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  letter-spacing: .15em;
}

body {
  background-image:
    linear-gradient(
      #0000ff, #000009
    );
}
