* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  letter-spacing: .15em;
}

html {
  background-image: radial_gradient (
    #0000ff,
    000009
    );
}
